<form [formGroup]="formGroup">
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <label for="brand">Marca</label>
      <p-dropdown
        id="brand"
        [options]="brands"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        (onChange)="onChangeBrand($event)"
        formControlName="brand"
      >
      </p-dropdown>
    </div>
    <div class="field col-12 md:col-6">
      <label for="model">Modelo</label>
      <p-dropdown
        id="model"
        [options]="models"
        optionLabel="name"
        optionValue="id"
        styleClass="w-full"
        formControlName="model"
      >
      </p-dropdown>
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col-12 md:col-3">
      <label for="price">Precio</label>
      <input
        id="price"
        pInputText
        type="number"
        class="w-full"
        formControlName="price"
      />
    </div>
    <div class="field col-12 md:col-3">
      <label for="color">Color</label>
      <input
        id="color"
        pInputText
        type="text"
        class="w-full"
        formControlName="color"
        required
      />
      <small
        id="color-help"
        class="p-error"
        *ngIf="
          formGroup.get('color')?.invalid && formGroup.get('color')?.touched
        "
        >* Es requerido</small
      >
    </div>
    <div class="field col-12 md:col-3">
      <label for="vin">VIN</label>
      <input
        id="vin"
        pInputText
        type="text"
        class="w-full"
        formControlName="vin"
      />
      <small
        id="vin-help"
        class="p-error"
        *ngIf="formGroup.get('vin')?.invalid && formGroup.get('vin')?.touched"
        >* Es requerido</small
      >
    </div>
    <div class="field col-12 md:col-3">
      <label for="year">Año</label>
      <input
        id="year"
        pInputText
        type="text"
        class="w-full"
        formControlName="year"
      />
      <small
        id="year-help"
        class="p-error"
        *ngIf="formGroup.get('year')?.invalid && formGroup.get('year')?.touched"
        >* Es requerido</small
      >
    </div>
    <div class="field col-12 md:col-3">
      <label for="mileage">Kilometraje</label>
      <input
        id="mileage"
        pInputText
        type="number"
        class="w-full"
        formControlName="mileage"
      />
      <small
        id="mileage-help"
        class="p-error"
        *ngIf="
          formGroup.get('mileage')?.invalid && formGroup.get('mileage')?.touched
        "
        >* Es requerido</small
      >
    </div>
  </div>
  <div class="formgrid grid">
    <div class="field col-12 flex justify-content-end">
      <button
        pButton
        class="p-button-success mr-1"
        label="Aceptar"
        (click)="acceptHandler()"
      ></button>
      <button
        pButton
        class="p-button-secondary"
        label="Cancelar"
        (click)="close()"
      ></button>
    </div>
  </div>
</form>
